.card {
    width: 90%;
    max-width: 400px;
    height: 450px;
    flex-wrap: 'wrap';
    background-color: #FFD8BE;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    padding: 16px;
    margin: auto
}

.card_content {
    align-items: center;
    text-align: center;
}

.avatar { 
  margin: 40px auto 15px auto;
}

.caption {
  font-size: 1.7rem;
  font-weight: 200;
  color: #332f2c;
}

.bolded {
  font-weight: 300;
  text-decoration-line: none;
  color: inherit;
}

.bolded:hover {
  font-weight: 400;
  text-decoration-line: none;
}
